/dina-email/target/
/dina-external-datasource/target/
/dina-loan-admin/target/
/dina-loan-web/target/
/dina-manager/target/ 
/target/
/dina-mongodb/target/
/dina-external-data/target/


/notes
/dina-loan-admin/Dockerfile
/dina-loan-admin/Makefile

/dina-loan-web/Dockerfile
/dina-loan-web/Makefile

/.DS_Store

 /dina-email/.DS_Store

/project-initdata-admin.yml
/project-initdata-web.yml

/dina-loan-web/.DS_Store
/dina-loan-web/src/.DS_Store
/dina-loan-web/src/main/.DS_Store
/dina-loan-web/src/main/webapp/.DS_Store
/dina-loan-web/src/main/webapp/resources/.DS_Store
/dina-loan-web/src/main/webapp/resources/images/.DS_Store
