/* 
    Document   : loan.css
    Created on : 2013-nov-22, 14:14:41
    Author     : Sofia Ivarsson, Ida Li
    Description: Baserad på NRMs grafiska profil och pollenrapporten -sitevision.
    Stylesheet for dina-loan-web, NRM
*/


.body{
    font-family: "Arial",sans-serif;
    position: relative; 
    min-height: 100%; 
    top: 0px;
}
 

/*back*/
.background{
    background-color:#ebede8;
    background-image:url(/images/18.67f7c5a013d827ecb4c32f/1367827613667/bg.gif);
    background-repeat:no-repeat;
    margin:0 0 0 0;
}

.back {
    border:none;
    width:100%;
    min-width:0;
    margin:0;
/*    padding: 0px 10px 0px 10px;
    border-radius: 10px 10px 0 0;*/
    float:none !important;
}

.templet {
    /*width: 960px;*/
    width: 100%;
    margin: auto;
}

.topmenu {
    background-color:#072735; 
/*    margin-left:-10px; */
    /*width:960px;*/
    width: 100%;
    /*padding-bottom: 3px;*/
}

.topmenupanel {
    margin-top: -3px;
    margin-bottom: -3px;
    width: 100%;
}

.top {
    background-color:#0b5e82; /*#86ad16;*/
    margin:0 auto;
    /*max-width:960px;*/
    width: 100%;
    padding-left:10px;
    padding-right:10px;
    padding-bottom: 20px;
    padding-top: 20px; 
}





/*main*/ 
.main {
    background-color:#ffffff;
    margin:0 auto;
    padding: 30px 50px 75px 50px;
    overflow: hidden;
    /*max-width:960px;*/ 
    /*width: 100%;*/ 
}







.subpage {
    background-color:#ffffff;
    margin:0 auto;
    padding: 30px 200px 75px 200px; 
    /*width: 100%;*/ 
}

.purposepage {
    background-color:#ffffff;
    margin:0 auto;
    padding: 30px 200px 75px 200px; 
    /*width: 100%;*/ 
}

.borrowpage {
    background-color:#ffffff;
    margin:0 auto;
    padding: 30px 50px 75px 50px;  
}

.nonDestructivBorrowpage {
    background-color:#ffffff;
    margin:0 auto;
    width: 60%;
    padding: 30px 50px 75px 50px;  
}

.sectionstyle2 {
    background-color:#ffffff;
    padding: 30px 100px 75px 100px; 
    margin:0 auto;
    /*width: 100%;*/ 
}

 
.descriptionPage {
    background-color:#ffffff;
    margin:0 auto;
    padding: 30px 75px; 
    width: 70%; 
}


.uploadbtn {
    width: 150px;
    background:  #D2CFCF;
    font-size: 9px;
}

 
.collectionlistradiofont {
    font-size: 12px;
    font-family: "Arial",sans-serif;
}



.notification {
    border: 1px solid; 
    border-color: red; 
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
 
 
 
 
.backtofomrlink { 
    font-family: "Arial",sans-serif;
    float: right;
    width: 400PX;
    text-align: right;
    padding-right: 80px;
    padding-top: 20px;  
}





.defaulttext {
    font-size: 12px !important;
    font-family: "Arial",sans-serif !important;
}

.subtitle {
    font-size: 18px !important;
    font-weight: bold;
    font-family: "Arial",sans-serif !important;
}






/********************* footer ***************/
/*Gradient, after footer*/
#grad1 {
  height: 230px;
  max-width:100%;
  /*margin: 0 auto;*/
  border-radius: 0 0 10px 10px;
  /*background: -webkit-linear-gradient(top, rgba(8, 8, 8, 1), rgba(0, 0, 0, 0));*/
  background: -webkit-linear-gradient(top, rgba(8, 8, 8, 1), rgba(8, 8, 8, 1), rgba(0, 0, 0, 0));
  /* For Safari 5.1 to 6.0 */

  background: -o-linear-gradient(top, rgba(8, 8, 8, 1), rgba(8, 8, 8, 1), rgba(0, 0, 0, 0));
  /* For Opera 11.1 to 12.0 */

  background: -moz-linear-gradient(top, rgba(8, 8, 8, 1),  rgba(8, 8, 8, 1), rgba(0, 0, 0, 0));
  /* For Firefox 3.6 to 15 */

  /*background: linear-gradient(from top, rgba(8, 8, 8, 1), rgba(8, 8, 8, 1), rgba(0, 0, 0, 0));*/
  /* Standard syntax (must be last) */
}

.footstyle {
  background-color: #000000; 
  width: 100%; 
}

.footText { 
  padding-left: 20px;
  font-size: 12px;
  color: #ffffff;
  font-family: "Arial",sans-serif;   
  width: 200px;
  float: left;
}






















/*
.back{
    border:none;
    width:100%;
    min-width:0;
    padding:0;
    margin:0;
    padding-top:7px;
    padding-bottom:0px;
    border-radius: 10px 10px 0 0;
    float:none !important
}*/


.roundedtop {
  -webkit-border-radius: 15px 15px 0px 0px;
  border-radius: 15px 15px 0px 0px;    
}






.topmenu a.current {
    background: none repeat scroll 0 0 #036fab; /*#0C7D0C;*/
}

.topmenu a {
   width: auto; 
   padding: 12px 15px;
   border-right: none;
   border-right: 1px solid #0b5e82 !important;
   color: #FFFFFF !important;
   display: block;
   font-family: "Arial",sans-serif !important;
   font-size: 14px;
   text-align: center;
   text-decoration: none !important;
   text-shadow: 1px 2px 1px #436b16;  
   /* filter: dropshadow(color=#2e5900, offx=1, offy=1);*/
}

 
.topmenu li {
   overflow: hidden;
   position: relative;
   float: left;
   display: block;
   width: auto;
}

.topmenu ul {
    list-style-type: none;
    margin: 0;
    overflow: auto;
    padding: 0;
}

.menubutton {
    color:#ffffff;
    margin-top:-4px;
    padding-bottom:5px;
    padding-left:10px;
} 

.header {
    font-size: 20px;
    margin-top:10px;
    margin-bottom: 30px;
    color: #5e5e5e; 
    font-family: "Arial",sans-serif;
}


.headertitle {
    font-size: 46px;
    color: #FFFFFF;
    text-align: left;
    margin-left: 20px;
    font-family:   serif; 
}




/*top*/
/*.roundedtop {
  -webkit-border-radius: 15px 15px 0px 0px;
  border-radius: 15px 15px 0px 0px;    
}

.top {
    background-color:#0b5e82; #86ad16;
    margin:0 auto;
    max-width:960px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom: 20px;
    padding-top: 20px;
    
}

.topmenu {
    background-color:#072735; 
    margin-left:-10px; 
    width:960px;
}


.topmenu a.current {
    background: none repeat scroll 0 0 #036fab; #0C7D0C;
}

.topmenu a {
   width: auto;
   padding: 12px 10px;
   border-right: none;
   border-right: 1px solid #0b5e82;
   color: #FFFFFF;
   display: block;
   font-family: "Arial",sans-serif;
   font-size: 14px;
   text-align: center;
   text-decoration: none;
   text-shadow: 1px 2px 1px #436b16; 
    filter: dropshadow(color=#2e5900, offx=1, offy=1);
}

 
.topmenu li {
   overflow: hidden;
   position: relative;
   float: left;
   display: block;
   width: auto;
}

.topmenu ul {
    list-style-type: none;
    margin: 0;
    overflow: auto;
    padding: 0;
}

.menubutton {
    color:#ffffff;
    margin-top:-4px;
    padding-bottom:5px;
    padding-left:10px;
}*/

.whitetext {
    color: #FFFFFF;
    font-weight: normal;
    font-family: "Arial",sans-serif;
    font-size: 14px;
}

.noborder {
    border-style: none;
}

.logonrm {   
    margin-right: 20px;
    float: right;
    border-style: none;
}


 
.imgswitch {
    width: 100%;
    /*padding-top: -5px;*/
    margin-bottom: -5px; 
}
   

 



.departmentUrl {
    text-decoration: none; 
    color: #8B8786; 
    font-size: 12px; 
}


.radio:first-child:after {
    content: "Your content";
    color: #FF0000;
}

a {
    color: #000000 !important;
    font-family: arial,helvetica,sans-serif !important;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    text-decoration: underline !important;
}


r


.maintext {
    font-size: 24px;
    font-family: "Arial",sans-serif;
    font-weight: bold;
}

.contactfieldstext {
    font-size: 12px !important;
    font-family: "Arial",sans-serif !important;
}

.unactiveTab {
    color: #000000;
    font-family: "Arial",sans-serif;
    font-weight: normal;
    font-size: 11px;
}


.activeTab { 
    background-color: #c2dfef;  
    text-decoration: underline; 
    font-family: "Arial",sans-serif;
    font-weight: bold;
    font-size: 12px;
}


.breadcrumbpanel {
    width: 100%; 
    margin-top: -5px;   
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
}



.ui-breadcrumb {
    /*padding-left: 60px;*/
    padding-top: 10px;
    border: none !important;
}


.ui-breadcrumb ul li a {   
    float: left; 
    margin-top: 0; 
    padding-right: 2px;
    position: relative;
    font-size: 11px; 
    text-decoration: none !important;
}

 



.ui-breadcrumb ul li {   
    float: left; 
    margin-top: 0; 
    padding-right: 2px;
    position: relative;
    font-size: 11px;
    font-weight: normal;
    text-decoration: none !important;
}


.ui-breadcrumb ul li.first a { 
    background-image: none;
    text-indent: 10px;
    display: block;  
    width: 30px;
    margin-top: 0; 
    overflow: hidden;
    position: relative; 
    background: transparent;
}

.ui-widget-header {
     background:  #FFFFFF;
     border: none;
}


 







.smalltext {
    font-size: 11px;
    font-family: "Arial",sans-serif;
}





.noupdate {
    font-size: 12px;
    font-family: "Arial",sans-serif;
}

 
.taxasampletext.ui-widget-content { 
    border: none !important;
    font-size: 12px !important;
    font-family:  Arial,sans-serif !important; 
}

.defaultboldtext {
    font-weight: bold;
    font-size: 12px;
    font-family: "Arial",sans-serif;
}


.subheader{
    font-weight: bold;
}
        
.text {
    font-family: "Arial",sans-serif !important;
    color: #424242 !important;
    font-size: 12px !important;
    margin-bottom: 10px !important;
}


        
.textPaddingLeft {
    font-family: "Arial",sans-serif;
    color: #424242; 
    font-size: 12px;
    padding-left: 25px;
    margin-bottom: 10px;
}
 

.boldtext {
    font-family: "Arial",sans-serif;
    color: #424242 !important;
    font-size: 12px;
    margin-bottom: 10px !important;
    font-weight: bold !important;
}

.italictext {
    font-family: "Arial",sans-serif !important;
    color: #424242 !important;
    font-size: 12px !important;
    margin-bottom: 10px !important;
    font-style: italic !important;
}







.subsubtitle {
    font-size: 14px;
    font-weight: bold;
    font-family: "Arial",sans-serif;
}


  

.subheader2{
    font-style: italic;
}

.dnatext{
    font-size: 11px;
    color: lightsteelblue;
    width: 450px;
    word-wrap: break-word;
    font-family:monospace;
}

.imgtext{
    font-size: 12px;
}





.menyrad {
/* -- */
}

.dottop {
    vertical-align: top;
    padding-top: 5px;
}


.dotimages {  
    border: none;    
}

.images {  
    border: none;  
}

.languageimg {  
    border: none;   
}
 
/*foot*/
/*#foot {
    position: absoulte;
    bottom: 0;
    height: 125px;
}*/



.textfoot{ 
    font-size: 10px;
    color:#ffffff;
    font-family: "Arial",sans-serif;   
}


 
.aligntop {
    vertical-align: top;
}

.alignBottom {
    vertical-align: bottom;
}

.col1 {
    vertical-align:bottom;
    width: 450px;
}


#chart_div {
    width:700px;  
    height: 400px;
    border: solid 1px;
    overflow: hidden; 
    float: left
}
#chart_div svg {  
    width:700px;  
    height: 400px;
    overflow: hidden;
} 

 
.ui-tabs-nav {
    font-size: 11px !important; 
} 
 
 

.ui-tabs .ui-tabs-panel {
    border: none !important;
    padding: 0px 0px 0px 0px; 
    font-size: 11px;
} 

.ui-widget-content { 
    border: none !important;
    font-size: 12px !important;
    font-family:  Arial,sans-serif !important; 
}

 
 
.uploadfilecol1 {
    width: 60%;
}

.uploadfilecol2 {
    width: 30%;
    float: right;
}



.ui-growl {
    right: 40%;
    top: 250px;
    font-size: 12px;
}

.progresscol1 {
    padding-left: 10px;
    width: 40px;
}

.progresscol2 {
    width: 200px;
}

 

.subtablecol {
    width: 70px;
}

/*.hide-column-names table thead tr {
    display: none !important; 
}



 datatable
.ui-datatable * {
    border : 0px !important;   
    padding: 0px !important;  
    padding-bottom: 2px !important;
    padding-top: 2px !important;
}


.ui-datatable table thead tr{
    display: none !important; 
} 

.ui-datatable table thead tr {
    display: none !important; 
} 






 for safari 
\
.ui-datatable * {
    border : 0px !important;   
    padding: 0px !important;  
    padding-bottom: 2px !important;
    padding-top: 2px !important;
}


 

\
.ui-datatable table thead tr {
    display: none !important; 
} 


\
.resulttbl {
    font-size: 12px;
}

 for safari */

 

.greentext {
    color: #33CC00;
}

.redtext {
    color: #D00000;
}
 
.resulttextfont1 {
    font-family:  courier;
    font-size: 7px; 
    font-size: 10px !important;  
}



.ui-button-text {
    background-color:  #0b5e82;
    font-size: 12px;
}
.ui-button-text-only .ui-button-text {
    font-size: 9pt; 
    color: #FFFFFF;
}

.originalbutton .ui-button-text {
    background:  #D2CFCF;
}


 

.largebutton .ui-button-text {
    background-color: #0b5e82;
    width: 100px;
}


.ui-radiobutton .ui-radiobutton-box { 
    bottom: 0;
    left: 0;
    width: 12px;
    height: 12px;
    line-height: 12px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
 
.ui-icon-bullet {
    background-position: -83px -146px !important;
}





.ui-datatable .ui-row-editor .ui-icon-pencil { 
    background: url('../resources/images/edit_icon.gif') no-repeat center !important; 
    background-position: center center !important; 
    height: 20px;
    margin-top: -3px;
}
 

.ui-datatable .ui-row-editor .ui-icon-check { 
    background: url('../resources/images/Checkmark16x16.png') no-repeat center;  
}


.ui-datatable .ui-row-editor .ui-icon-close {
    margin-left: 10px;
    background: transparent url('../resources/images/delete.png') no-repeat center; 
}


.samplespanelodd {
    font-size: 12px; 
    font-family:  Arial,sans-serif; 
    background-color: #EDF6FA;
    width: 690px;
}

.samplespaneleven {
    font-size: 12px; 
    font-family:  Arial,sans-serif; 
    background-color: #FFFFFF; 
    width: 690px;
}

.column1 {
    width: 150px;
}

.column2 {
    width: 500px;
}

.column3 {
    width: 30px;
    float: right; 
}

.column4 {
    width: 230px;
}

.column5 {
    width: 10px;
}

.column6 {
    width: 300px;
}


.contactCol1 {
    width: 53%; 
    float:left;
    margin-left: 20px;
    margin-right: 20px;
}

.contactCol2 {
    margin-left: 25%;
}

.ui-fileupload-buttonbar { 
    font-size: 12px !important;
}
 
.ui-datepicker {
    font-size: 12px !important;
} 


#wrap { 
   height:310px;
   width:480px; 
}


ui-selectonemenu .ui-selectonemenu-label {
    font-size: 11px !important;
    font-family:  Arial,sans-serif !important; 
}

.ui-selectonemenu-item .ui-selectonemenu-list-item {
    font-size: 11px !important;
    font-family:  Arial,sans-serif !important; 
}





.ui-tooltip {
    border: 1px solid #ccc;
    box-shadow: 0 0 10px 0 #ddd;
    -moz-box-shadow: 0 0 10px 0 #ddd;
    -webkit-box-shadow: 0 0 10px 0 #ddd;
    color: #666;
    background: #EDF6FA;
}


.ui-dialog-title-dialog {
    font-size: 24px;
    font-weight: bold;
    font-family:  Arial,sans-serif;
    color: #FFFFFF;
}


.ui-dialog-titlebar  {
    background-color: #036fab;
    font-size: 18px;
    font-weight: bold;
    font-family:  Arial,sans-serif;
    color: #FFFFFF;
}


 
ul {
    list-style-type: disc;
    /*list-style: square url('../resources/images/bullet_square.png');*/
}
 

/** ##################################### data table ################################ **/  
.sampletable.ui-datatable table thead tr {
    display: none !important;
    border: none !important;
} 


 
.table.customradio  th, table.customradio td {
    padding: 3px;
} 


body .ui-panelgrid .ui-panelgrid-cell {
    padding: 8px !important;
}

body .ui-inputfield {
    font-size: 12px;
}




.ui-datatable-odd {
    background-color:#C9D1F7;
    background-image: none;
}

.ui-datatable-even {
    background-color:#DDE3FD;
    background-image: none;
}



.searchSampletable.ui-datatable .ui-datatable-header {
    text-align: center !important;
    padding: 4px 10px !important;
    background: #fff !important;
    border: none !important;
}

.searchSampletable.ui-datatable thead th {
    padding: 3px 1px !important;
}

.ui-panel .ui-panel-titlebar {
    padding: 0px !important;
}